<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.member.Mapper.UserMemberMapper">
  <resultMap id="BaseResultMap" type="com.member.Entity.UserMember">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="member_vip" jdbcType="INTEGER" property="memberVip" />
    <result column="member_svip" jdbcType="INTEGER" property="memberSvip" />
    <result column="rechargetime_vip" jdbcType="DATE" property="rechargetimeVip" />
    <result column="expiretime_vip" jdbcType="DATE" property="expiretimeVip" />
    <result column="rechargetime_svip" jdbcType="DATE" property="rechargetimeSvip" />
    <result column="expiretime_svip" jdbcType="DATE" property="expiretimeSvip" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, member_id, member_vip, member_svip, rechargetime_vip, expiretime_vip, rechargetime_svip,
    expiretime_svip, createtime, updatetime
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.member.Entity.UserMember" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_member (member_id, member_vip, member_svip,
    rechargetime_vip, expiretime_vip, rechargetime_svip,
    expiretime_svip, createtime, updatetime
    )
    values (#{memberId,jdbcType=BIGINT}, #{memberVip,jdbcType=INTEGER}, #{memberSvip,jdbcType=INTEGER},
    #{rechargetimeVip,jdbcType=DATE}, #{expiretimeVip,jdbcType=DATE}, #{rechargetimeSvip,jdbcType=DATE},
    #{expiretimeSvip,jdbcType=DATE}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
    )
  </insert>



<!--auto generated by MybatisCodeHelper on 2020-01-24-->
  <update id="updateRechargetimeVipAndExpiretimeVipByMemberId">
    update user_member
    set rechargetime_vip=#{updatedRechargetimeVip,jdbcType=DATE},
        expiretime_vip=#{updatedExpiretimeVip,jdbcType=DATE},
        member_vip=1
    where 1=1
    <if test="memberId != null">
      and member_id=#{memberId,jdbcType=BIGINT}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-24-->
  <update id="updateExpiretimeVipByMemberId">
    update user_member
    set expiretime_vip=#{updatedExpiretimeVip,jdbcType=DATE}
    where 1=1
    <if test="memberId != null">
      and member_id=#{memberId,jdbcType=BIGINT}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-24-->
  <select id="selectMemberVipByMemberId" resultType="java.lang.Integer">
    select member_vip
    from user_member
    where 1=1
    <if test="memberId != null">
      and member_id=#{memberId,jdbcType=BIGINT}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-25-->
  <select id="selectExpiretimeVipByMemberId" resultType="java.util.Date">
    select expiretime_vip
    from user_member
    where 1=1
    <if test="memberId != null">
      and member_id=#{memberId,jdbcType=BIGINT}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-25-->
  <select id="selectAllByMemberId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_member
    where 1=1
    <if test="memberId != null">
      and member_id=#{memberId,jdbcType=BIGINT}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-03-14-->
  <update id="updateExpiretimeSvipByMemberId">
        update user_member
        set expiretime_svip=#{updatedExpiretimeSvip,jdbcType=DATE}
        <where>
            <if test="memberId != null">
                and member_id=#{memberId,jdbcType=BIGINT}
            </if>
        </where>
    </update>

<!--auto generated by MybatisCodeHelper on 2020-03-14-->
  <update id="updateRechargetimeSvipAndExpiretimeSvipByMemberId">
    update user_member
    set rechargetime_svip=#{updatedRechargetimeSvip,jdbcType=DATE},
    expiretime_svip=#{updatedExpiretimeSvip,jdbcType=DATE},
    member_svip=1
    <where>
      <if test="memberId != null">
        and member_id=#{memberId,jdbcType=BIGINT}
      </if>
    </where>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-03-14-->
  <select id="selectMemberSvipByMemberId" resultType="java.lang.Integer">
    select member_svip
    from user_member
    <where>
      <if test="memberId != null">
        and member_id=#{memberId,jdbcType=BIGINT}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-03-14-->
  <select id="selectExpiretimeSvipByMemberId" resultType="java.util.Date">
    select expiretime_svip
    from user_member
    <where>
      <if test="memberId != null">
        and member_id=#{memberId,jdbcType=BIGINT}
      </if>
    </where>
  </select>

  <select id="selectVipIdList" resultType="java.lang.Long">
    select member_id
    from user_member
    where member_vip=1 and DATEDIFF(expiretime_vip,now())=-1;
  </select>

  <select id="selectSVipIdList" resultType="java.lang.Long">
    select member_id
    from user_member
    where member_svip=1 and DATEDIFF(expiretime_svip,now())=-1;
  </select>

<!--auto generated by MybatisCodeHelper on 2020-05-12-->
  <update id="updateMemberVipByMemberId">
    update user_member
    set member_vip=0
    <where>
      <if test="memberId != null">
        and member_id=#{memberId,jdbcType=BIGINT}
      </if>
    </where>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-05-12-->
  <update id="updateMemberSvipByMemberId">
    update user_member
    set member_svip=0
    <where>
      <if test="memberId != null">
        and member_id=#{memberId,jdbcType=BIGINT}
      </if>
    </where>
  </update>

  <update id="updateName">
    update user_if
    set Blogname=
  </update>
</mapper>