<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whc.cloud.Mapper.UserSecurityMapper">
  <resultMap id="BaseResultMap" type="com.whc.cloud.User.UserSecurity">
    <!--@mbg.generated-->
    <!--@Table user_security-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="Username" jdbcType="VARCHAR" property="username" />
    <result column="Email" jdbcType="VARCHAR" property="email" />
    <result column="Phone" jdbcType="VARCHAR" property="phone" />
    <result column="RealName" jdbcType="VARCHAR" property="realname" />
    <result column="CardNumber" jdbcType="VARCHAR" property="cardnumber" />
    <result column="SchoolNumber" jdbcType="VARCHAR" property="schoolnumber" />
    <result column="School" jdbcType="VARCHAR" property="school" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <resultMap id="school"
             type="com.whc.cloud.User.School">
    <result column="RealName" property="realname"/>
    <result column="SchoolNumber" property="schoolnumber"/>
    <result column="School" property="school"/>
  </resultMap>
  <resultMap id="NameCard"
             type="com.whc.cloud.User.NameCard">
    <result column="RealName" property="realname"/>
    <result column="CardNumber" property="cardnumber"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, Username, Email, Phone, RealName, CardNumber, SchoolNumber, School,
    CreateTime, UpdateTime
  </sql>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.whc.cloud.User.UserSecurity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_security (user_id, Username, Email,
    Phone, RealName, CardNumber,
    SchoolNumber, School, CreateTime,
    UpdateTime)
    values (#{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
    #{phone,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{cardnumber,jdbcType=VARCHAR},
    #{schoolnumber,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP},
    #{updatetime,jdbcType=TIMESTAMP})
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-11-15-->
  <select id="selectAllByEmail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_security
    where Email=#{email,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-18-->
  <update id="updateEmail">
    update user_security
    set Email=#{updatedEmail,jdbcType=VARCHAR}
    where Username=#{username,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-11-18-->
  <select id="selectAllByUsernameAndEmail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_security
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
    <if test="chEmail != null">
      and Email=#{chEmail,jdbcType=VARCHAR}
    </if>
  </select>

  <!--向User表中更新密码-->
  <update id="updatePassword">
  update user
  set Password=#{chPassword,jdbcType=VARCHAR}
  where user.Username=#{username,jdbcType=VARCHAR}
  </update>

  <!--向User表中更新密码-->
  <update id="updatePasswordPhone">
    update user
    set Password=#{phonePassword,jdbcType=VARCHAR}
    where user.Username=#{username,jdbcType=VARCHAR}
  </update>

  <!--向User表中更新密码-->
  <update id="updatePasswordCard">
    update user
    set Password=#{cardPassword,jdbcType=VARCHAR}
    where user.Username=#{username,jdbcType=VARCHAR}
  </update>


  <!--auto generated by MybatisCodeHelper on 2019-11-20-->
  <select id="selectAllByPhone" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_security
    where Phone=#{phone,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-20-->
  <update id="updatePhoneByUsername">
    update user_security
    set Phone=#{phone,jdbcType=VARCHAR}
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2019-11-20-->
  <select id="selectAllByUsernameAndPhone" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_security
    where 1=1
    <if test="phoneSFRZ != null">
      and Phone=#{phoneSFRZ,jdbcType=VARCHAR}
    </if>
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-20-->
  <update id="updateRealnameAndCardnumberByUsername">
    update user_security
    set RealName=#{realnameSFRZ,jdbcType=VARCHAR}, CardNumber=#{cardNumber,jdbcType=VARCHAR}
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2019-11-20-->
  <select id="selectEmailByUsername" resultType="java.lang.String">
    select Email
    from user_security
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-22-->
  <select id="selectPhoneByUsername" resultType="java.lang.String">
        select Phone
        from user_security
        where 1=1
        <if test="username != null">
            and Username=#{username,jdbcType=VARCHAR}
        </if>
    </select>



<!--auto generated by MybatisCodeHelper on 2019-11-23-->
  <select id="selectSchool"
          resultMap="school">
    select RealName, SchoolNumber, School
    from user_security
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-23-->
  <update id="updateSchoolByUsername">
    update user_security
    set SchoolNumber=#{schoolNumber,jdbcType=VARCHAR}, School=#{schoolName,jdbcType=VARCHAR}
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2019-11-23-->
  <select id="selectRealnameByUsername" resultType="java.lang.String">
    select RealName
    from user_security
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-23-->
  <select id="selectAllByCardnumber" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_security
    where 1=1
    <if test="cardnumber != null">
      and CardNumber=#{cardnumber,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-28-->
  <select id="selectCardnumberByUsername" resultType="java.lang.String">
    select CardNumber
    from user_security
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-28-->
  <select id="selectSchoolnumberByUsername" resultType="java.lang.String">
    select SchoolNumber
    from user_security
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-28-->
  <select id="selectSchoolByUsername" resultType="java.lang.String">
    select School
    from user_security
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-28-->
  <select id="selectAllByPhoneAndUsername" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_security
    where 1=1
    <if test="phoneReset != null">
      and Phone=#{phoneReset,jdbcType=VARCHAR}
    </if>
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-29-->
  <select id="selectAllByRealnameAndCardnumber" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_security
    where 1=1
    <if test="cardName != null">
      and RealName=#{cardName,jdbcType=VARCHAR}
    </if>
    <if test="cardCode != null">
      and CardNumber=#{cardCode,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-30-->
  <select id="selectUsernameByPhone" resultType="java.lang.String">
    select Username
    from user_security
    where 1=1
    <if test="ssPhone != null">
      and Phone=#{ssPhone,jdbcType=VARCHAR}
    </if>
  </select>

  <update id="updateEmailByUsername" parameterType="java.lang.String">
    update user_security
     set email=#{ssEmail,jdbcType=VARCHAR}
    <if test="username != null">
    where Username=#{username,jdbcType=VARCHAR}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2019-11-30-->
  <select id="selectUsernameByEmail" resultType="java.lang.String">
    select Username
    from user_security
    where 1=1
    <if test="ssEmail != null">
      and Email=#{ssEmail,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-30-->
  <select id="selectIdByPhone" resultType="java.lang.Long">
    select id
    from user_security
    where 1=1
    <if test="phone != null">
      and Phone=#{phone,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-30-->
  <update id="updatePhone">
    update user_security
    set Phone=#{newPhone,jdbcType=VARCHAR}
    <if test="username != null">
      where Username=#{username,jdbcType=VARCHAR}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2019-11-30-->
  <select id="selectUsernameByRealnameAndCardnumber" resultType="java.lang.String">
    select Username
    from user_security
    where 1=1
    <if test="resetName != null">
      and RealName=#{resetName,jdbcType=VARCHAR}
    </if>
    <if test="resetCode != null">
      and CardNumber=#{resetCode,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-18-->
  <select id="selectAllByUsername" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_security
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-05-21-->
  <select id="selectAllByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_security
        <where>
            <if test="userId != null">
                and user_id=#{userId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2020-05-23-->
  <select id="selectSchoolnumberByUserId" resultType="java.lang.String">
        select SchoolNumber
        from user_security
        <where>
            <if test="userId != null">
                and user_id=#{userId,jdbcType=BIGINT}
            </if>
        </where>
    </select>


</mapper>