<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.article.Mapper.UserArticleCollectionMapper">
  <resultMap id="BaseResultMap" type="com.article.Entity.UserArticleCollection">
    <!--@mbg.generated-->
    <!--@Table user_article_collection-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="blog_id" jdbcType="BIGINT" property="blogId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="collection_time" jdbcType="TIMESTAMP" property="collectionTime" />
    <result column="collection_status" jdbcType="INTEGER" property="collectionStatus" />
    <result column="collection_active" jdbcType="INTEGER" property="collectionActive" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, blog_id, user_id, collection_time, collection_status, collection_active, create_time, 
    update_time
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.article.Entity.UserArticleCollection" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_article_collection (blog_id, user_id, collection_time, 
      collection_status, collection_active, create_time, 
      update_time)
    values (#{blogId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{collectionTime,jdbcType=TIMESTAMP}, 
      #{collectionStatus,jdbcType=INTEGER}, #{collectionActive,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-04-05-->
  <select id="findAllByBlogIdAndUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_article_collection
    <where>
      <if test="blogId != null">
        and blog_id=#{blogId,jdbcType=BIGINT}
      </if>
      <if test="userId != null">
        and user_id=#{userId,jdbcType=BIGINT}
      </if>
    </where>
  </select>

  <update id="updateTwoCollection">
    update user_article_collection
    set collection_status=1,collection_active=1
    <where>
      <if test="blogId != null">
        and blog_id=#{blogId,jdbcType=BIGINT}
      </if>
      <if test="userId != null">
        and user_id=#{userId,jdbcType=BIGINT}
      </if>
    </where>
  </update>

  <update id="updateCollectStatusByBlogIdAndUserId">
    update user_article_collection
    set collection_status=0,collection_active=0
    <where>
      <if test="blogId != null">
        and blog_id=#{blogId,jdbcType=BIGINT}
      </if>
      <if test="userId != null">
        and user_id=#{userId,jdbcType=BIGINT}
      </if>
    </where>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-04-06-->
  <select id="findBlogIdByUserId" resultType="java.lang.Long">
    select blog_id
    from user_article_collection
    where user_id=#{userId,jdbcType=BIGINT} and
    collection_status=1 and collection_active=1
    order by collection_time desc
  </select>


</mapper>