<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.article.Mapper.UserArticleCommentMapper">
  <resultMap id="BaseResultMap" type="com.article.Entity.UserArticleComment">
    <!--@mbg.generated-->
    <!--@Table user_article_comment-->
    <id column="comment_id" jdbcType="BIGINT" property="commentId" />
    <result column="comment_article_id" jdbcType="BIGINT" property="commentArticleId" />
    <result column="comment_total" jdbcType="INTEGER" property="commentTotal" />
    <result column="commentator_id" jdbcType="BIGINT" property="commentatorId" />
    <result column="comment_content" jdbcType="LONGVARCHAR" property="commentContent" />
    <result column="comment_date" jdbcType="TIMESTAMP" property="commentDate" />
    <result column="comment_parent_id" jdbcType="BIGINT" property="commentParentId" />
    <result column="comment_response_id" jdbcType="LONGVARCHAR" property="commentResponseId" />
    <result column="comment_response_date" jdbcType="LONGVARCHAR" property="commentResponseDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    comment_id, comment_article_id, comment_total, commentator_id, comment_content, comment_date, 
    comment_parent_id, comment_response_id, comment_response_date
  </sql>
  <insert id="insert" keyColumn="comment_id" keyProperty="commentId" parameterType="com.article.Entity.UserArticleComment" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_article_comment (comment_article_id, comment_total, commentator_id, 
      comment_content, comment_date, comment_parent_id, 
      comment_response_id, comment_response_date
      )
    values (#{commentArticleId,jdbcType=BIGINT}, #{commentTotal,jdbcType=INTEGER}, #{commentatorId,jdbcType=BIGINT}, 
      #{commentContent,jdbcType=LONGVARCHAR}, #{commentDate,jdbcType=TIMESTAMP}, #{commentParentId,jdbcType=BIGINT}, 
      #{commentResponseId,jdbcType=LONGVARCHAR}, #{commentResponseDate,jdbcType=LONGVARCHAR}
      )
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-03-02-->
  <select id="findAllByCommentArticleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_article_comment
        <where>
            <if test="commentArticleId != null">
                and comment_article_id=#{commentArticleId,jdbcType=BIGINT}
            </if>
            order by comment_date desc
        </where>
    </select>
</mapper>