<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.article.Mapper.UserArticleThumpMapper">
    <resultMap id="BaseResultMap" type="com.article.Entity.UserArticleThump">
        <!--@mbg.generated-->
        <!--@Table user_article_thump-->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="blog_id" jdbcType="BIGINT" property="blogId" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="thump_time" jdbcType="TIMESTAMP" property="thumpTime" />
        <result column="thump_status" jdbcType="INTEGER" property="thumpStatus" />
        <result column="thump_active" jdbcType="INTEGER" property="thumpActive" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, blog_id, user_id, thump_time, thump_status, thump_active, create_time, update_time
    </sql>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.article.Entity.UserArticleThump" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user_article_thump (blog_id, user_id, thump_time,
        thump_status, thump_active, create_time,
        update_time)
        values (#{blogId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{thumpTime,jdbcType=TIMESTAMP},
        #{thumpStatus,jdbcType=INTEGER}, #{thumpActive,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>

<!--auto generated by MybatisCodeHelper on 2020-04-04-->
  <select id="findAllByBlogIdAndUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_article_thump
        <where>
            <if test="blogId != null">
                and blog_id=#{blogId,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and user_id=#{userId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2020-04-04-->
  <select id="countByBlogId" resultType="java.lang.Integer">
        select count(id) AS total
        from user_article_thump
        where  thump_active=1 AND thump_status=1 AND blog_id=#{blogId,jdbcType=BIGINT}
    </select>

<!--auto generated by MybatisCodeHelper on 2020-04-04-->
  <update id="updateThumpStatusByBlogIdAndUserId">
        update user_article_thump
        set thump_status=0,thump_active=0
        <where>
            <if test="blogId != null">
                and blog_id=#{blogId,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and user_id=#{userId,jdbcType=BIGINT}
            </if>
        </where>
    </update>

    <select id="getTotalRank" resultType="com.article.Entity.UserArticleRank">
        select blog_id AS blogId,count(id) AS total
        from user_article_thump
        where thump_active=1 and thump_status=1 and create_time BETWEEN #{from,jdbcType=TIMESTAMP}
        and #{to,jdbcType=TIMESTAMP}
        GROUP BY blog_id
        ORDER BY total DESC
        limit 0,10
    </select>

<!--auto generated by MybatisCodeHelper on 2020-04-04-->
    <delete id="deleteByBlogIdAndUserId">
        delete from user_article_thump
        <where>
            <if test="blogId != null">
                and blog_id=#{blogId,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and user_id=#{userId,jdbcType=BIGINT}
            </if>
        </where>
    </delete>

    <update id="updateTwoThump">
        update user_article_thump
        set thump_status=1,thump_active=1
        <where>
            <if test="blogId != null">
                and blog_id=#{blogId,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and user_id=#{userId,jdbcType=BIGINT}
            </if>
        </where>
    </update>
</mapper>