<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.message.Mapper.UserMsgSystemMapper">
    <resultMap id="BaseResultMap" type="com.message.Entity.UserMsgSystem">
        <!--@mbg.generated-->
        <!--@Table user_msg_system-->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="system_title" jdbcType="VARCHAR" property="systemTitle" />
        <result column="system_msg" jdbcType="VARCHAR" property="systemMsg" />
        <result column="read_on" jdbcType="BOOLEAN" property="readOn" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, system_title, system_msg, read_on, createtime
    </sql>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.message.Entity.UserMsgSystem" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user_msg_system (user_id, system_title, system_msg,
        read_on, createtime)
        values (#{userId,jdbcType=BIGINT}, #{systemTitle,jdbcType=VARCHAR}, #{systemMsg,jdbcType=VARCHAR},
        #{readOn,jdbcType=BOOLEAN}, #{createtime,jdbcType=TIMESTAMP})
    </insert>

  <select id="selectMsgOff" resultType="java.lang.Integer">
    select COUNT(id)
    from user_msg_system
    where user_id=#{id,jdbcType=BIGINT} and read_on=0
  </select>

<!--auto generated by MybatisCodeHelper on 2020-05-26-->
  <update id="updateReadOnByUserId">
        update user_msg_system
        set read_on=1
        <where>
            <if test="userId != null">
                and user_id=#{userId,jdbcType=BIGINT}
            </if>
        </where>
    </update>

<!--auto generated by MybatisCodeHelper on 2020-05-26-->
    <select id="selectAllByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_msg_system
        where user_id=#{userId,jdbcType=BIGINT}
        order by createtime DESC
    </select>
</mapper>