<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.message.Mapper.UserMsgSecurityMapper">
  <resultMap id="BaseResultMap" type="com.message.Entity.UserMsgSecurity">
    <!--@mbg.generated-->
    <!--@Table user_msg_security-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="msg_on" jdbcType="INTEGER" property="msgOn" />
    <result column="commentMsg_on" jdbcType="INTEGER" property="commentmsgOn" />
    <result column="atMsg_on" jdbcType="INTEGER" property="atmsgOn" />
    <result column="thumpMsg_on" jdbcType="INTEGER" property="thumpmsgOn" />
    <result column="leaveMsg_on" jdbcType="INTEGER" property="leavemsgOn" />
    <result column="behavior_on" jdbcType="INTEGER" property="behaviorOn" />
    <result column="comment_on" jdbcType="INTEGER" property="commentOn" />
    <result column="leave_on" jdbcType="INTEGER" property="leaveOn" />
    <result column="forward_on" jdbcType="INTEGER" property="forwardOn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, msg_on, commentMsg_on, atMsg_on, thumpMsg_on, leaveMsg_on, behavior_on, 
    comment_on, leave_on, forward_on
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.message.Entity.UserMsgSecurity" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_msg_security (user_id, msg_on, commentMsg_on, 
      atMsg_on, thumpMsg_on, leaveMsg_on, 
      behavior_on, comment_on, leave_on, 
      forward_on)
    values (#{userId,jdbcType=BIGINT}, #{msgOn,jdbcType=INTEGER}, #{commentmsgOn,jdbcType=INTEGER}, 
      #{atmsgOn,jdbcType=INTEGER}, #{thumpmsgOn,jdbcType=INTEGER}, #{leavemsgOn,jdbcType=INTEGER}, 
      #{behaviorOn,jdbcType=INTEGER}, #{commentOn,jdbcType=INTEGER}, #{leaveOn,jdbcType=INTEGER}, 
      #{forwardOn,jdbcType=INTEGER})
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-05-25-->
  <select id="selectAllByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_msg_security
        <where>
            <if test="userId != null">
                and user_id=#{userId,jdbcType=BIGINT}
            </if>
        </where>
    </select>
</mapper>