<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whc.cloud.Mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.whc.cloud.User.User">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="Username" jdbcType="VARCHAR" property="username" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column=" CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="LastUpdate" jdbcType="TIMESTAMP" property="lastupdate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, Username, `Password`, ` CreateTime`, LastUpdate
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.whc.cloud.User.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user (Username, Password)
    values (#{username,jdbcType=VARCHAR} , #{password,jdbcType=VARCHAR} );
    <selectKey resultType="java.lang.Long" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.whc.cloud.User.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="newPassword != null">
        Username,
      </if>
      <if test="newPassword != null">
        Password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="newUsername != null ">
        #{newPassword,jdbcType=VARCHAR},
      </if>
      <if test="newPassword != null">
        #{newPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-10-31-->
  <select id="selectBySnameAndSpassword" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
    <if test="password != null">
      and Password=#{password,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectSname" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    <if test="newUsername != null">
    where Username=#{newUsername,jdbcType=VARCHAR}
    </if>
  </select>

  <update id="updateSpassword">
    update user set Password=#{newPassword,jdbcType=VARCHAR} where Username=#{usernameXGMM,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-05-21-->
  <select id="selectAllById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
    </where>
  </select>

</mapper>