<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whc.cloud.Mapper.UserIfMapper">
  <resultMap id="BaseResultMap" type="com.whc.cloud.User.UserIf">
    <!--@mbg.generated-->
    <!--@Table user_if-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="If_id" jdbcType="BIGINT" property="ifId" />
    <result column="Username" jdbcType="VARCHAR" property="username" />
    <result column="Blogname" jdbcType="VARCHAR" property="blogname" />
    <result column="Birth" jdbcType="DATE" property="birth" />
    <result column="Sex" jdbcType="VARCHAR" property="sex" />
    <result column="Job" jdbcType="VARCHAR" property="job" />
    <result column="Introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UpdateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, If_id, Username, Blogname, Birth, Sex, Job, Introduce, CreateTime, UpdateTime
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.whc.cloud.User.UserIf" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_if (If_id, Username, Blogname,
    Birth, Sex, Job, Introduce,
    CreateTime, UpdateTime)
    values (#{ifId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{blogname,jdbcType=VARCHAR},
    #{birth,jdbcType=DATE}, #{sex,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR},
    #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>

  <!--auto generated by MybatisCodeHelper on 2019-11-07-->
  <update id="updateByUsername">
    update user_if
    <set>
      <if test="userIf.blogname != null">
        Blogname = #{userIf.blogname,jdbcType=VARCHAR},
      </if>
      <if test="userIf.sex != null">
        Sex = #{userIf.sex,jdbcType=VARCHAR},
      </if>
      <if test="userIf.birth != null">
        Birth = #{userIf.birth},
      </if>
      <if test="userIf.job != null">
        Job = #{userIf.job,jdbcType=VARCHAR},
      </if>
      <if test="userIf.introduce != null">
        Introduce = #{userIf.introduce,jdbcType=VARCHAR},
      </if>
    </set>
    where 1=1
    <if test="id != null">
      and If_id=#{id,jdbcType=BIGINT}
    </if>
  </update>


<!--auto generated by MybatisCodeHelper on 2019-11-15-->
  <select id="selectAllByRealname" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_if
    where Blogname=#{blogname,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-02-28-->
  <select id="selectBlognameByIfId" resultType="java.lang.String">
    select Blogname
    from user_if
    <where>
      <if test="ifId != null">
        and If_id=#{ifId,jdbcType=BIGINT}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-05-24-->
  <update id="updateBlognameByIfId">
        update user_if
        set Blogname=#{updatedBlogname,jdbcType=VARCHAR}
        <where>
            <if test="ifId != null">
                and If_id=#{ifId,jdbcType=BIGINT}
            </if>
        </where>
    </update>

</mapper>