<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pay.Mapper.UserCouponMapper">
    <resultMap id="BaseResultMap" type="com.pay.Entity.UserCoupon">
        <!--@mbg.generated-->
        <!--@Table user_coupon-->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="coupon_name" jdbcType="VARCHAR" property="couponName" />
        <result column="coupon_money" jdbcType="DECIMAL" property="couponMoney" />
        <result column="coupon_on" jdbcType="BOOLEAN" property="couponOn" />
        <result column="coupon_subject" jdbcType="VARCHAR" property="couponSubject" />
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="costTime" jdbcType="TIMESTAMP" property="costtime" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, order_id, user_id, coupon_name, coupon_money, coupon_on, coupon_subject, createTime,
        costTime
    </sql>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pay.Entity.UserCoupon" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user_coupon (order_id, user_id, coupon_name,
        coupon_money, coupon_on, coupon_subject,
        createTime, costTime)
        values (#{orderId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{couponName,jdbcType=VARCHAR},
        #{couponMoney,jdbcType=DECIMAL}, #{couponOn,jdbcType=BOOLEAN}, #{couponSubject,jdbcType=VARCHAR},
        #{createtime,jdbcType=TIMESTAMP}, #{costtime,jdbcType=TIMESTAMP})
        <selectKey resultType="java.lang.Long" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

<!--auto generated by MybatisCodeHelper on 2020-05-23-->
  <select id="selectAllOffByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_coupon
       where user_id=#{userId,jdbcType=BIGINT} and coupon_on =0
      order by id DESC
  </select>

    <select id="selectAllOnByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_coupon
        where user_id=#{userId,jdbcType=BIGINT} and coupon_on =1
        order by id DESC
    </select>

<!--auto generated by MybatisCodeHelper on 2020-05-23-->
  <select id="selectAllById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_coupon
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2020-05-23-->
    <update id="updateCouponOnById">
        update user_coupon
        set coupon_on=#{updatedCouponOn,jdbcType=BOOLEAN}
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
        </where>
    </update>

<!--auto generated by MybatisCodeHelper on 2020-05-23-->
    <delete id="deleteById">
        delete from user_coupon
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
        </where>
    </delete>

<!--auto generated by MybatisCodeHelper on 2020-05-23-->
    <select id="selectCouponOnById" resultType="java.lang.Boolean">
        select coupon_on
        from user_coupon
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
        </where>
    </select>

</mapper>