<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pay.Mapper.UserOrderMapper">
  <resultMap id="BaseResultMap" type="com.pay.Entity.UserOrder">
    <!--@mbg.generated-->
    <!--@Table user_order-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="receipt_amount" jdbcType="DECIMAL" property="receiptAmount" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="body" jdbcType="VARCHAR" property="body" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="fundChannel" jdbcType="VARCHAR" property="fundchannel" />
    <result column="tradeStatus" jdbcType="VARCHAR" property="tradestatus" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
  </resultMap>
  <resultMap id="ResponseMap" type="com.pay.Response.OrderResponse">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="receipt_amount" jdbcType="DECIMAL" property="receiptAmount" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="body" jdbcType="VARCHAR" property="body" />
    <result column="fundChannel" jdbcType="VARCHAR" property="fundchannel" />
    <result column="tradeStatus" jdbcType="VARCHAR" property="tradestatus" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
  </resultMap>
  <resultMap id="CostResponse" type="com.pay.Response.CostResponse">
    <result column="total_pay_percent" jdbcType="VARBINARY" property="totalPayPercent"/>
    <result column="total_pay" jdbcType="INTEGER" property="totalPay"/>
    <result column="total_pay_money" jdbcType="INTEGER" property="totalPayMoney"/>
    <result column="total_order" jdbcType="INTEGER" property="totalOrder"/>
    <result column="total_order_money" jdbcType="INTEGER" property="totalOrderMoney"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_id, app_id, out_trade_no, total_amount, receipt_amount, subject, body,
    store_id, fundChannel, tradeStatus, createTime, endTime
  </sql>
  <sql id="Response_Column_List">
    <!--@mbg.generated-->
    id,out_trade_no, total_amount, receipt_amount, subject, body,
    fundChannel, tradeStatus, createTime, endTime
  </sql>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pay.Entity.UserOrder" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_order (order_id, app_id, out_trade_no,
    total_amount, receipt_amount, subject,
    body, store_id, fundChannel,
    tradeStatus, createTime, endTime
    )
    values (#{orderId,jdbcType=BIGINT}, #{appId,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR},
    #{totalAmount,jdbcType=DECIMAL}, #{receiptAmount,jdbcType=DECIMAL}, #{subject,jdbcType=VARCHAR},
    #{body,jdbcType=VARCHAR}, #{storeId,jdbcType=VARCHAR}, #{fundchannel,jdbcType=VARCHAR},
    #{tradestatus,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}
    );
    <selectKey resultType="java.lang.Long" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
  </insert>

<!--auto generated by MybatisCodeHelper on 2020-01-24-->
  <select id="selectAllByOutTradeNo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_order
    where 1=1
    <if test="outTradeNo != null">
      and out_trade_no=#{outTradeNo,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-24-->
  <update id="updateResponseByOutTradeNoAndOrderId">
    update user_order
    set receipt_amount=#{updatedReceiptAmount,jdbcType=DECIMAL}, tradeStatus=#{updatedTradestatus,jdbcType=VARCHAR},
    fundChannel=#{channel,jdbcType=VARCHAR},endTime=#{date,jdbcType=TIMESTAMP}
    where 1=1
    <if test="outTradeNo != null">
      and out_trade_no=#{outTradeNo,jdbcType=VARCHAR}
    </if>
    <if test="orderId != null">
      and order_id=#{orderId,jdbcType=BIGINT}
    </if>
  </update>

  <select id="findUserOrderAllById" resultMap="ResponseMap">
    select
    <include refid="Response_Column_List"/>
    from user_order
    where order_id=#{orderId,jdbcType=BIGINT}
    order by createTime desc
  </select>

<!--auto generated by MybatisCodeHelper on 2020-03-13-->
  <delete id="deleteById">
    delete from user_order
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
    </where>
  </delete>

<!--auto generated by MybatisCodeHelper on 2020-03-13-->
  <select id="selectOrderIdById" resultType="java.lang.Long">
    select order_id
    from user_order
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
    </where>
  </select>

  <select id="findUserOrderAllByIdAndTime" resultMap="ResponseMap">
    select
    <include refid="Response_Column_List"/>
    from user_order
    where order_id=#{orderId,jdbcType=BIGINT} and
    createTime between #{from,jdbcType=TIMESTAMP} and #{to,jdbcType=TIMESTAMP}
    order by createTime desc
  </select>

  <select id="findCostAll" resultMap="CostResponse">
    select concat(left(sum(receipt_amount)/sum(total_amount)*100,5),'%') as 'total_pay_percent',
    count(receipt_amount) as 'total_pay',sum(receipt_amount) as 'total_pay_money',
    count(total_amount) as 'total_order',sum(total_amount) as 'total_order_money'
    from user_order
    where order_id=#{orderId,jdbcType=BIGINT} and
    createTime between #{from,jdbcType=TIMESTAMP} and #{to,jdbcType=TIMESTAMP}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-05-11-->
  <select id="selectReceiptAmountById" resultType="java.math.BigDecimal">
    select receipt_amount
    from user_order
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-05-11-->
  <update id="updateReceiptAmountAndEndtimeById">
    update user_order
    set receipt_amount=0.00, tradeStatus='支付失败',endTime=#{updatedEndtime,jdbcType=TIMESTAMP}
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
    </where>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-05-23-->
  <select id="selectAllById" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_order
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
    </where>
  </select>

</mapper>