<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pay.Mapper.UserWalletMapper">
  <resultMap id="selectBankcardSign"
             type="com.pay.Entity.SelectBankcardSign">
    <result column="bankcard_oneSign" property="bankcardOnesign"/>
    <result column="bankcard_twoSign" property="bankcardTwosign"/>
    <result column="bankcard_threeSign" property="bankcardThreesign"/>
  </resultMap>
  <resultMap id="selectBankcardname"
             type="com.pay.Entity.SelectBankcardname">
    <result column="bankcardname_one" property="bankcardnameOne"/>
    <result column="bankcardname_two" property="bankcardnameTwo"/>
    <result column="bankcardname_three" property="bankcardnameThree"/>
  </resultMap>
  <resultMap id="selectBankcard"
             type="com.pay.Entity.SelectBankcard">
    <result column="bankcard_one" property="bankcardOne"/>
    <result column="bankcard_two" property="bankcardTwo"/>
    <result column="bankcard_three" property="bankcardThree"/>
  </resultMap>
  <resultMap id="BaseResultMap" type="com.pay.Entity.UserWallet">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="wallet_id" jdbcType="BIGINT" property="walletId" />
    <result column="bankcard_one" jdbcType="VARCHAR" property="bankcardOne" />
    <result column="bankcard_oneSign" jdbcType="INTEGER" property="bankcardOnesign" />
    <result column="bankcardname_one" jdbcType="VARCHAR" property="bankcardnameOne" />
    <result column="bankcard_two" jdbcType="VARCHAR" property="bankcardTwo" />
    <result column="bankcard_twoSign" jdbcType="INTEGER" property="bankcardTwosign" />
    <result column="bankcardname_two" jdbcType="VARCHAR" property="bankcardnameTwo" />
    <result column="bankcard_three" jdbcType="VARCHAR" property="bankcardThree" />
    <result column="bankcard_threeSign" jdbcType="INTEGER" property="bankcardThreesign" />
    <result column="bankcardname_three" jdbcType="VARCHAR" property="bankcardnameThree" />
    <result column="wallet_money" jdbcType="DECIMAL" property="walletMoney" />
    <result column="wallet_password" jdbcType="VARCHAR" property="walletPassword" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, wallet_id, bankcard_one, bankcard_oneSign, bankcardname_one, bankcard_two, bankcard_twoSign,
    bankcardname_two, bankcard_three, bankcard_threeSign, bankcardname_three, wallet_money,
    wallet_password, realname, createtime, updatetime
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.pay.Entity.UserWallet" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_wallet (wallet_id, bankcard_one, bankcard_oneSign,
    bankcardname_one, bankcard_two, bankcard_twoSign,
    bankcardname_two, bankcard_three, bankcard_threeSign,
    bankcardname_three, wallet_money, wallet_password,
    realname, createtime, updatetime
    )
    values (#{walletId,jdbcType=BIGINT}, #{bankcardOne,jdbcType=VARCHAR}, #{bankcardOnesign,jdbcType=INTEGER},
    #{bankcardnameOne,jdbcType=VARCHAR}, #{bankcardTwo,jdbcType=VARCHAR}, #{bankcardTwosign,jdbcType=INTEGER},
    #{bankcardnameTwo,jdbcType=VARCHAR}, #{bankcardThree,jdbcType=VARCHAR}, #{bankcardThreesign,jdbcType=INTEGER},
    #{bankcardnameThree,jdbcType=VARCHAR}, #{walletMoney,jdbcType=DECIMAL}, #{walletPassword,jdbcType=VARCHAR},
    #{realname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
    )
  </insert>

  <select id="selectRealnameByUsername" resultType="java.lang.String">
    select RealName
    from user_security
    where Username=#{username,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-14-->
  <select id="selectWalletPasswordByWalletId" resultType="java.lang.String">
        select wallet_password
        from user_wallet
        where 1=1
        <if test="walletId != null">
            and wallet_id=#{walletId,jdbcType=BIGINT}
        </if>
    </select>

<!--auto generated by MybatisCodeHelper on 2020-01-14-->
  <select id="selectRealnameByWalletId" resultType="java.lang.String">
    select realname
    from user_wallet
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-15-->
  <update id="updateRealnameByWalletId">
    update user_wallet
    set realname=#{updatedRealname,jdbcType=VARCHAR}
    where wallet_id = #{walletId,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-15-->
  <update id="updateWalletPasswordAndRealnameByWalletId">
    update user_wallet
    set wallet_password=#{walletPassword,jdbcType=VARCHAR}  , realname=#{updatedRealname,jdbcType=VARCHAR}
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-16-->
  <select id="selectWalletMoneyByWalletId" resultType="java.math.BigDecimal">
    select wallet_money
    from user_wallet
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-18-->
  <select id="selectBankcard"
          resultMap="selectBankcard">
    select bankcard_one, bankcard_two, bankcard_three
    from user_wallet
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-18-->
  <update id="updateBankcardOneAndBankcardnameOneByWalletId">
    update user_wallet
    set bankcard_one=#{updatedBankcardOne,jdbcType=VARCHAR}, bankcardname_one=#{updatedBankcardnameOne,jdbcType=VARCHAR},
        bankcard_oneSign=1
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-18-->
  <update id="updateBankcardTwoAndBankcardnameTwoByWalletId">
    update user_wallet
    set bankcard_two=#{updatedBankcardTwo,jdbcType=VARCHAR},bankcardname_two=#{updatedBankcardnameTwo,jdbcType=VARCHAR},
        bankcard_twoSign=1
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-18-->
  <update id="updateBankcardThreeAndBankcardnameThreeByWalletId">
    update user_wallet
    set bankcard_three=#{updatedBankcardThree,jdbcType=VARCHAR},bankcardname_three=#{updatedBankcardnameThree,jdbcType=VARCHAR},
        bankcard_threeSign=1
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-18-->
  <select id="selectBankcardname"
          resultMap="selectBankcardname">
    select bankcardname_one, bankcardname_two, bankcardname_three
    from user_wallet
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-18-->
  <select id="selectBankcardSign"
          resultMap="selectBankcardSign">
    select bankcard_oneSign, bankcard_twoSign, bankcard_threeSign
    from user_wallet
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-01-18-->
  <update id="updateWalletPasswordByWalletId">
    update user_wallet
    set wallet_password=#{updatedWalletPassword,jdbcType=VARCHAR}
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-19-->
  <update id="updateOneSignByWalletId">
    update user_wallet
    set bankcard_one=null,
    bankcardname_one=null,
    bankcard_oneSign=0
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </update>

  <!--auto generated by MybatisCodeHelper on 2020-01-19-->
  <update id="updateTwoSignByWalletId">
    update user_wallet
    set bankcard_two=null,
    bankcardname_two=null,
    bankcard_twoSign=0
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </update>

  <!--auto generated by MybatisCodeHelper on 2020-01-19-->
  <update id="updateThreeSignByWalletId">
    update user_wallet
    set bankcard_three=null,
    bankcardname_three=null,
    bankcard_threeSign=0
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-19-->
  <select id="selectAllByWalletId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_wallet
    where 1=1
    <if test="walletId != null">
      and wallet_id=#{walletId,jdbcType=BIGINT}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-05-23-->
  <select id="selectIdByWalletId" resultType="java.lang.Long">
        select id
        from user_wallet
        <where>
            <if test="walletId != null">
                and wallet_id=#{walletId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2020-05-23-->
  <update id="updateWalletMoneyById">
    update user_wallet
    set wallet_money=wallet_money+#{updatedWalletMoney,jdbcType=DECIMAL}
    where id=#{id,jdbcType=BIGINT}
  </update>

  <update id="updateMoneyById">
    update user_wallet
    set wallet_money=#{updatedWalletMoney,jdbcType=DECIMAL}
    where id=#{id,jdbcType=BIGINT}
  </update>

</mapper>