<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="deleteByPrimayKeyEnabled" value="false" />
        <option name="insertSelectiveMethodEnabled" value="false" />
        <option name="javaMapperPackage" value="com.message.Mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/blog-provider-user-message/src/main/java" />
        <option name="javaModelPackage" value="com.message.Entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/blog-provider-user-message/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="blog-provider-user-message" />
        <option name="mapperAnnotaion" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="blog-customer-user-feign">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/blog-customer-user-feign/src/main/java" />
                  <option name="javaModelPacakge" value="com.Entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/blog-customer-user-feign/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/blog-customer-user-feign/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/blog-customer-user-feign/src/main/java" />
                  <option name="xmlPackage" value="com.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/blog-customer-user-feign/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="blog-provider-user">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.whc.cloud.Mapper" />
                  <option name="javaMapperPath" value="E:\我的IDEA文件\blog\blog-provider-user\src\main\java\com\whc\cloud\Mapper" />
                  <option name="javaModelPacakge" value="com.whc.cloud.User" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/blog-provider-user/src/main/java" />
                  <option name="xmlPackage" value="com.whc.cloud.Mapper" />
                  <option name="xmlPath" value="E:\我的IDEA文件\blog\blog-provider-user\src\main\java\com\whc\cloud\Mapper" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="blog-provider-user-article">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.article.Mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/blog-provider-user-article/src/main/java" />
                  <option name="javaModelPacakge" value="com.article.Entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/blog-provider-user-article/src/main/java" />
                  <option name="xmlPackage" value="com.article.Mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/blog-provider-user-article/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="blog-provider-user-member">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.member.Mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/blog-provider-user-member/src/main/java" />
                  <option name="javaModelPacakge" value="com.member.Entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/blog-provider-user-member/src/main/java" />
                  <option name="xmlPackage" value="com.message.Mapper" />
                  <option name="xmlPath" value="E:\我的IDEA文件\blog\blog-provider-user-member\src\main\java\com\member\Mapper" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="blog-provider-user-message">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.message.Mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/blog-provider-user-message/src/main/java" />
                  <option name="javaModelPacakge" value="com.message.Entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/blog-provider-user-message/src/main/java" />
                  <option name="xmlPackage" value="com.message.Mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/blog-provider-user-message/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="blog-provider-user-pay">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.pay.Mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/blog-provider-user-pay/src/main/java" />
                  <option name="javaModelPacakge" value="com.pay.Entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/blog-provider-user-pay/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/blog-provider-user-pay/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/blog-provider-user-pay/src/main/java" />
                  <option name="xmlPackage" value="com.pay.Mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/blog-provider-user-pay/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="blog-provider-user-security">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.whc.cloud.Mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/blog-provider-user-security/src/main/java" />
                  <option name="javaModelPacakge" value="com.whc.cloud.User" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/blog-provider-user-security/src/main/java" />
                  <option name="xmlPackage" value="com.whc.cloud.Mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/blog-provider-user-security/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="blog-provider-user-sign">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.sign.Mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/blog-provider-user-sign/src/main/java" />
                  <option name="javaModelPacakge" value="com.sign.Entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/blog-provider-user-sign/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/blog-provider-user-sign/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/blog-provider-user-sign/src/main/java" />
                  <option name="xmlPackage" value="com.sign.Mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/blog-provider-user-sign/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="blog-provider-user-upload">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.Mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/blog-provider-user-upload/src/main/java" />
                  <option name="javaModelPacakge" value="com.Entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/blog-provider-user-upload/src/main/java" />
                  <option name="xmlPackage" value="com.Mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/blog-provider-user-upload/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="selectByPrimaryKeyEnabled" value="false" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="blog:user">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="blog-customer-user-feign" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_alipay_order">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserAlipayOrder" />
                  <option name="moduleName" value="blog-provider-user-pay" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="a_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticle" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_backend">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="article_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleBackend" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_c">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="article_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleC" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_category">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="category_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleCategory" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_collection">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleCollection" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_comment">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="comment_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleComment" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_cplus">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="article_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleCplus" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_draft">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleDraft" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_framework">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="article_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleFramework" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_frontend">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="article_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleFrontend" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_fullstack">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="article_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleFullstack" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_go">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="article_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleGo" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_img">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleImg" />
                  <option name="moduleName" value="blog-provider-user-upload" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_java">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="article_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleJava" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_operation">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="article_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleOperation" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_php">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="article_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticlePhp" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_python">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="article_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticlePython" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_tag">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="tag_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleTag" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_test">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="article_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleTest" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_thump">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleThump" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_article_vip">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="article_id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserArticleVip" />
                  <option name="moduleName" value="blog-provider-user-article" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_avatar">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserAvatar" />
                  <option name="moduleName" value="blog-provider-user-upload" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_continuereward">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserContinuereward" />
                  <option name="moduleName" value="blog-provider-user-sign" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_coupon">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserCoupon" />
                  <option name="moduleName" value="blog-provider-user-pay" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_if">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserIf" />
                  <option name="moduleName" value="blog-provider-user" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_member">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserMember" />
                  <option name="moduleName" value="blog-provider-user-member" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_msg_security">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserMsgSecurity" />
                  <option name="moduleName" value="blog-provider-user-message" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_msg_system">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserMsgSystem" />
                  <option name="moduleName" value="blog-provider-user-message" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_msg_thump">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserMsgThump" />
                  <option name="moduleName" value="blog-provider-user-message" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_order">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserOrder" />
                  <option name="moduleName" value="blog-provider-user-pay" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_security">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserSecurity" />
                  <option name="moduleName" value="blog-provider-user-security" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_sign">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserSign" />
                  <option name="moduleName" value="blog-provider-user-sign" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_sign_article">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserSignArticle" />
                  <option name="moduleName" value="blog-provider-user-sign" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_totalreward">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserTotalreward" />
                  <option name="moduleName" value="blog-provider-user-sign" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="blog:user_wallet">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="id" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="UserWallet" />
                  <option name="moduleName" value="blog-provider-user-pay" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
        <option name="updateByPrimaykeyEnabled" value="false" />
        <option name="xmlMapperPackage" value="com.message.Mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/blog-provider-user-message/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>