<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sign.Mapper.UserContinuerewardMapper">
  <resultMap id="BaseResultMap" type="com.sign.Entity.UserContinuereward">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="continue_id" jdbcType="BIGINT" property="continueId" />
    <result column="continueReward_one" jdbcType="INTEGER" property="continuerewardOne" />
    <result column="continueReward_two" jdbcType="INTEGER" property="continuerewardTwo" />
    <result column="continueReward_three" jdbcType="INTEGER" property="continuerewardThree" />
    <result column="continueReward_four" jdbcType="INTEGER" property="continuerewardFour" />
    <result column="continueReward_five" jdbcType="INTEGER" property="continuerewardFive" />
    <result column="continueReward_six" jdbcType="INTEGER" property="continuerewardSix" />
    <result column="continueReward_seven" jdbcType="INTEGER" property="continuerewardSeven" />
    <result column="firstTime" jdbcType="TIMESTAMP" property="firsttime" />
    <result column="lastTime" jdbcType="TIMESTAMP" property="lasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, continue_id, continueReward_one, continueReward_two, continueReward_three, continueReward_four, 
    continueReward_five, continueReward_six, continueReward_seven, firstTime, lastTime
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sign.Entity.UserContinuereward" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_continuereward (continue_id, continueReward_one, continueReward_two, 
      continueReward_three, continueReward_four, 
      continueReward_five, continueReward_six, 
      continueReward_seven, firstTime, lastTime
      )
    values (#{continueId,jdbcType=BIGINT}, #{continuerewardOne,jdbcType=INTEGER}, #{continuerewardTwo,jdbcType=INTEGER}, 
      #{continuerewardThree,jdbcType=INTEGER}, #{continuerewardFour,jdbcType=INTEGER}, 
      #{continuerewardFive,jdbcType=INTEGER}, #{continuerewardSix,jdbcType=INTEGER}, 
      #{continuerewardSeven,jdbcType=INTEGER}, #{firsttime,jdbcType=TIMESTAMP}, #{lasttime,jdbcType=TIMESTAMP}
      )
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-12-09-->
  <select id="selectAllByContinueId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_continuereward
    where 1=1
    <if test="continueId != null">
      and continue_id=#{continueId,jdbcType=BIGINT}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-12-09-->
  <update id="updateContinuerewardOneByContinueId">
    update user_continuereward
    set continueReward_one=1
    where 1=1
    <if test="continueId != null">
      and continue_id=#{continueId,jdbcType=BIGINT}
    </if>
  </update>

  <!--auto generated by MybatisCodeHelper on 2019-12-09-->
  <update id="updateContinuerewardTwoByContinueId">
    update user_continuereward
    set continueReward_two=5
    where 1=1
    <if test="continueId != null">
      and continue_id=#{continueId,jdbcType=BIGINT}
    </if>
  </update>

  <!--auto generated by MybatisCodeHelper on 2019-12-09-->
  <update id="updateContinuerewardThreeByContinueId">
    update user_continuereward
    set continueReward_three=30
    where 1=1
    <if test="continueId != null">
      and continue_id=#{continueId,jdbcType=BIGINT}
    </if>
  </update>

  <!--auto generated by MybatisCodeHelper on 2019-12-09-->
  <update id="updateContinuerewardFourByContinueId">
    update user_continuereward
    set continueReward_four=90
    where 1=1
    <if test="continueId != null">
      and continue_id=#{continueId,jdbcType=BIGINT}
    </if>
  </update>

  <!--auto generated by MybatisCodeHelper on 2019-12-09-->
  <update id="updateContinuerewardFiveByContinueId">
    update user_continuereward
    set continueReward_five=180
    where 1=1
    <if test="continueId != null">
      and continue_id=#{continueId,jdbcType=BIGINT}
    </if>
  </update>


  <!--auto generated by MybatisCodeHelper on 2019-12-09-->
  <update id="updateContinuerewardSixByContinueId">
    update user_continuereward
    set continueReward_six=360
    where 1=1
    <if test="continueId != null">
      and continue_id=#{continueId,jdbcType=BIGINT}
    </if>
  </update>


  <!--auto generated by MybatisCodeHelper on 2019-12-09-->
  <update id="updateContinuerewardSevenByContinueId">
    update user_continuereward
    set continueReward_seven=720
    where 1=1
    <if test="continueId != null">
      and continue_id=#{continueId,jdbcType=BIGINT}
    </if>
  </update>

</mapper>