<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sign.Mapper.UserSignArticleMapper">
    <resultMap id="BaseResultMap" type="com.sign.Entity.UserSignArticle">
        <!--@mbg.generated-->
        <!--@Table user_sign_article-->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="sign_article" jdbcType="INTEGER" property="signArticle" />
        <result column="sign_thump" jdbcType="INTEGER" property="signThump" />
        <result column="sign_comment" jdbcType="INTEGER" property="signComment" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, sign_article, sign_thump, sign_comment, create_time, update_time
    </sql>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sign.Entity.UserSignArticle" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into user_sign_article (user_id, sign_article, sign_thump,
        sign_comment, create_time, update_time
        )
        values (#{userId,jdbcType=BIGINT}, #{signArticle,jdbcType=INTEGER}, #{signThump,jdbcType=INTEGER},
        #{signComment,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

<!--auto generated by MybatisCodeHelper on 2020-05-27-->
  <select id="selectAllByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_sign_article
        <where>
            <if test="userId != null">
                and user_id=#{userId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2020-05-27-->
  <update id="updateSignArticleById">
        update user_sign_article
        set sign_article=#{updatedSignArticle,jdbcType=INTEGER}
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
        </where>
    </update>

    <select id="selectIdAll" resultType="java.lang.Integer">
        select COUNT(id) from user_sign_article
    </select>

<!--auto generated by MybatisCodeHelper on 2020-05-27-->
  <delete id="delete">
        delete
        from user_sign_article
        where user_id=#{userId,jdbcType=BIGINT}
    </delete>

    <update id="updateThumpById">
        update user_sign_article
        set sign_thump=sign_thump+1
        where id=#{id,jdbcType=BIGINT}
    </update>

</mapper>