<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sign.Mapper.UserTotalrewardMapper">
  <resultMap id="BaseResultMap" type="com.sign.Entity.UserTotalreward">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="total_id" jdbcType="BIGINT" property="totalId" />
    <result column="total_one" jdbcType="INTEGER" property="totalOne" />
    <result column="total_two" jdbcType="INTEGER" property="totalTwo" />
    <result column="total_three" jdbcType="INTEGER" property="totalThree" />
    <result column="total_four" jdbcType="INTEGER" property="totalFour" />
    <result column="total_five" jdbcType="INTEGER" property="totalFive" />
    <result column="total_six" jdbcType="INTEGER" property="totalSix" />
    <result column="total_seven" jdbcType="INTEGER" property="totalSeven" />
    <result column="firstTime" jdbcType="TIMESTAMP" property="firsttime" />
    <result column="lastTime" jdbcType="TIMESTAMP" property="lasttime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, total_id, total_one, total_two, total_three, total_four, total_five, total_six, 
    total_seven, firstTime, lastTime
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sign.Entity.UserTotalreward" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_totalreward (total_id, total_one, total_two, 
      total_three, total_four, total_five, 
      total_six, total_seven, firstTime, 
      lastTime)
    values (#{totalId,jdbcType=BIGINT}, #{totalOne,jdbcType=INTEGER}, #{totalTwo,jdbcType=INTEGER}, 
      #{totalThree,jdbcType=INTEGER}, #{totalFour,jdbcType=INTEGER}, #{totalFive,jdbcType=INTEGER}, 
      #{totalSix,jdbcType=INTEGER}, #{totalSeven,jdbcType=INTEGER}, #{firsttime,jdbcType=TIMESTAMP}, 
      #{lasttime,jdbcType=TIMESTAMP})
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-12-09-->
  <select id="selectAllByTotalId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_totalreward
    where 1=1
    <if test="totalId != null">
      and total_id=#{totalId,jdbcType=BIGINT}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2019-12-10-->
  <update id="updateTotalOneByTotalId">
    update user_totalreward
    set total_one=30
    where 1=1
    <if test="totalId != null">
      and total_id=#{totalId,jdbcType=BIGINT}
    </if>
  </update>

  <!--auto generated by MybatisCodeHelper on 2019-12-10-->
  <update id="updateTotalTwoByTotalId">
    update user_totalreward
    set total_two=60
    where 1=1
    <if test="totalId != null">
      and total_id=#{totalId,jdbcType=BIGINT}
    </if>
  </update>

  <!--auto generated by MybatisCodeHelper on 2019-12-10-->
  <update id="updateTotalThreeByTotalId">
    update user_totalreward
    set total_three=90
    where 1=1
    <if test="totalId != null">
      and total_id=#{totalId,jdbcType=BIGINT}
    </if>
  </update>

  <!--auto generated by MybatisCodeHelper on 2019-12-10-->
  <update id="updateTotalFourByTotalId">
    update user_totalreward
    set total_four=120
    where 1=1
    <if test="totalId != null">
      and total_id=#{totalId,jdbcType=BIGINT}
    </if>
  </update>

  <!--auto generated by MybatisCodeHelper on 2019-12-10-->
  <update id="updateTotalFiveByTotalId">
    update user_totalreward
    set total_five=180
    where 1=1
    <if test="totalId != null">
      and total_id=#{totalId,jdbcType=BIGINT}
    </if>
  </update>

  <!--auto generated by MybatisCodeHelper on 2019-12-10-->
  <update id="updateTotalSixByTotalId">
    update user_totalreward
    set total_six=360
    where 1=1
    <if test="totalId != null">
      and total_id=#{totalId,jdbcType=BIGINT}
    </if>
  </update>

  <!--auto generated by MybatisCodeHelper on 2019-12-10-->
  <update id="updateTotalSevenByTotalId">
    update user_totalreward
    set total_seven=720
    where 1=1
    <if test="totalId != null">
      and total_id=#{totalId,jdbcType=BIGINT}
    </if>
  </update>

</mapper>