<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Mapper.UserAvatarMapper">
  <resultMap id="BaseResultMap" type="com.Entity.UserAvatar">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="Avatar_id" jdbcType="BIGINT" property="avatarId" />
    <result column="Username" jdbcType="VARCHAR" property="username" />
    <result column="Avatar_name" jdbcType="VARCHAR" property="avatarName" />
    <result column="Avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    <result column="AvatarCreateTime" jdbcType="TIMESTAMP" property="avatarcreatetime" />
    <result column="AvatarUpdateTime" jdbcType="TIMESTAMP" property="avatarupdatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, Avatar_id, Username, Avatar_name, Avatar_url, AvatarCreateTime, AvatarUpdateTime
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.Entity.UserAvatar" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user_avatar (Avatar_id, Username, Avatar_name,
    Avatar_url, AvatarCreateTime, AvatarUpdateTime
    )
    values (#{avatarId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{avatarName,jdbcType=VARCHAR},
    #{avatarUrl,jdbcType=VARCHAR}, #{avatarcreatetime,jdbcType=TIMESTAMP}, #{avatarupdatetime,jdbcType=TIMESTAMP}
    )
  </insert>

<!--auto generated by MybatisCodeHelper on 2019-11-27-->
  <update id="updateAvatarNameAndAvatarUrlByUsername">
    update user_avatar
    set Avatar_name=#{objectName,jdbcType=VARCHAR}, Avatar_url=#{url,jdbcType=VARCHAR}
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </update>

<!--auto generated by MybatisCodeHelper on 2019-11-27-->
  <select id="selectAvatarNameByUsername" resultType="java.lang.String">
    select Avatar_name
    from user_avatar
    where 1=1
    <if test="username != null">
      and Username=#{username,jdbcType=VARCHAR}
    </if>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-02-28-->
  <select id="selectAvatarUrlByAvatarId" resultType="java.lang.String">
        select Avatar_url
        from user_avatar
        <where>
            <if test="avatarId != null">
                and Avatar_id=#{avatarId,jdbcType=BIGINT}
            </if>
        </where>
    </select>

</mapper>